@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-sky-500 to-indigo-500;
}

h1 {
  @apply text-5xl;
  @apply font-bold;
  @apply text-center;
}

h3 {
  @apply text-2xl;
  @apply font-bold;
  @apply text-center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}